<app-topbar></app-topbar>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="columns is-multiline">
          <div class="column is-full">
            <app-stats></app-stats>
          </div>
          <div class="column is-full">
            <app-add></app-add>
          </div>
          <div class="column is-full">
            <app-todos-list></app-todos-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
