<nav class="level has-background-dark has-text-white" style="padding: 1.5rem;">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Total Todos</p>
      <p class="title has-text-white">{{ allTodos | async }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Ongoing Todos</p>
      <p class="title has-text-white">{{ notDoneTodos | async  }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Done Todos</p>
      <p class="title has-text-white">{{ doneTodos | async }}</p>
    </div>
  </div>
</nav>
